MONGO_CLUSTER_URI=mongodb+srv://<name>:<password>@<cluster>.<sdfs>.mongodb.net?retryWrites=true&w=majority&appName=name

JWT_ACCESS_SECRET=access-secret
JWT_REFRESH_SECRET=refresh-secreg
COOKIE_SECRET=-cookie-secret

ALLOWED_ORIGINS=http://localhost:3000,http://localhost:3001

# Super Admin
ADMIN_NAME=Anamul Hoque
ADMIN_EMAIL=admin@tasfin.com
ADMIN_PASSWORD=Pass1234
ADMIN_PHONE=01XXXXXXXXX
ADMIN_NID=XXXXXXXXXX

# Site Info
SITE_NAME=TASFIN
SITE_PHONE=01XXXXXXXXX
SITE_EMAIL=admin@tasfin.com
SITE_STREET="House # 12, Road # 02, Block # C, Banani"

# AWS - S3
AWS_ACCESS_KEY_ID=AKIAYB6G4AD3NOWIMQ4T
AWS_SECRET_ACCESS_KEY=0123456789
AWS_REGION=eu-north
AWS_BUCKET_NAME=bucket-name

# Email Service
EMAIL_USER=admin@tasfin.com
EMAIL_PASS=0123456789