MONGO_CLUSTER_URI=mongodb+srv://<username>:<password>@<cluster>.bvvgwkl.mongodb.net/

JWT_ACCESS_SECRET=secret
JWT_REFRESH_SECRET=refresh_secret
COOKIE_SECRET=cookie_secret

DOMAIN=http://localhost:3000

ALLOWED_ORIGINS=http://localhost:3000,http://localhost:3001

# Super Admin
ADMIN_NAME=Anamul Hoque
ADMIN_EMAIL=example@gmail.com
ADMIN_PASSWORD=1234
ADMIN_PHONE=01*******
ADMIN_NID=0000000000

# Site Info
SITE_NAME=TASFIN
SITE_PHONE=01*********
SITE_EMAIL=example@gmail.com
SITE_STREET="House # 00, Road # 00, Block # F, Banasree, Dhaka"

# Email Service
EMAIL_USER=example@gmail.com
EMAIL_PASS=hlbgfilyvchgqwbl

# Cloudflare R2
R2_ACCOUNT_ID=https://************.r2.cloudflarestorage.com
R2_ACCESS_KEY_ID=***********
R2_SECRET_ACCESS_KEY=*******************************
R2_BUCKET_NAME=bucket
R2_PUBLIC_URL=https://pub-*********************.r2.dev

NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_*******************************
STRIPE_SECRET_KEY=sk_*************************************
STRIPE_WEBHOOK_SECRET=*********************************

# on development
PRODUCTION_STRIPE_WEBHOOK_SECRET=*************************
