.thumbs-swiper .swiper-slide {
  opacity: 0.6;
  transition: opacity 0.3s;
}

.thumbs-swiper .swiper-slide-thumb-active {
  opacity: 1;
  border: 2px solid hsl(var(--primary));
  border-radius: 0.5rem;
}

.swiper-pagination-bullet {
  background-color: white !important;
}
