.swiper {
  width: 100%;
  height: 100%;
}

/* Custom pagination styles */
.swiper-pagination {
  bottom: 1rem !important;
}

@media (min-width: 768px) {
  .swiper-pagination {
    bottom: 1.5rem !important;
  }
}
