/* [project]/components/tiptap-ui-primitive/button/button.scss.css [app-client] (css) */
.tiptap-button {
  font-feature-settings: "salt" on, "cv01" on;
  border-radius: var(--tt-radius-lg, .75rem);
  min-width: 2rem;
  height: 2rem;
  transition-property: background, color, opacity;
  transition-duration: var(--tt-transition-duration-default);
  transition-timing-function: var(--tt-transition-easing-default);
  border: none;
  justify-content: center;
  align-items: center;
  gap: .25rem;
  padding: .5rem;
  font-size: .875rem;
  font-weight: 500;
  line-height: 1.15;
  display: flex;
}

.tiptap-button:focus-visible {
  outline: none;
}

.tiptap-button[data-highlighted="true"], .tiptap-button[data-focus-visible="true"] {
  background-color: var(--tt-button-hover-bg-color);
  color: var(--tt-button-hover-text-color);
}

.tiptap-button[data-weight="small"] {
  width: 1.5rem;
  min-width: 1.5rem;
  padding-left: 0;
  padding-right: 0;
}

.tiptap-button[data-size="large"] {
  min-width: 2.375rem;
  height: 2.375rem;
  padding: .625rem;
  font-size: .9375rem;
}

.tiptap-button[data-size="small"] {
  border-radius: var(--tt-radius-md, .5rem);
  min-width: 1.5rem;
  height: 1.5rem;
  padding: .3125rem;
  font-size: .75rem;
  line-height: 1.2;
}

.tiptap-button .tiptap-button-text {
  text-align: left;
  flex-grow: 1;
  padding: 0 .125rem;
  line-height: 1.5rem;
}

.tiptap-button[data-text-trim="on"] .tiptap-button-text {
  text-overflow: ellipsis;
  overflow: hidden;
}

.tiptap-button .tiptap-button-icon, .tiptap-button .tiptap-button-icon-sub, .tiptap-button .tiptap-button-dropdown-arrows, .tiptap-button .tiptap-button-dropdown-small {
  flex-shrink: 0;
}

.tiptap-button .tiptap-button-icon {
  width: 1rem;
  height: 1rem;
}

.tiptap-button[data-size="large"] .tiptap-button-icon {
  width: 1.125rem;
  height: 1.125rem;
}

.tiptap-button[data-size="small"] .tiptap-button-icon {
  width: .875rem;
  height: .875rem;
}

.tiptap-button .tiptap-button-icon-sub {
  width: 1rem;
  height: 1rem;
}

.tiptap-button[data-size="large"] .tiptap-button-icon-sub {
  width: 1.125rem;
  height: 1.125rem;
}

.tiptap-button[data-size="small"] .tiptap-button-icon-sub {
  width: .875rem;
  height: .875rem;
}

.tiptap-button .tiptap-button-dropdown-arrows {
  width: .75rem;
  height: .75rem;
}

.tiptap-button[data-size="large"] .tiptap-button-dropdown-arrows {
  width: .875rem;
  height: .875rem;
}

.tiptap-button[data-size="small"] .tiptap-button-dropdown-arrows, .tiptap-button .tiptap-button-dropdown-small {
  width: .625rem;
  height: .625rem;
}

.tiptap-button[data-size="large"] .tiptap-button-dropdown-small {
  width: .75rem;
  height: .75rem;
}

.tiptap-button[data-size="small"] .tiptap-button-dropdown-small {
  width: .5rem;
  height: .5rem;
}

.tiptap-button:has( > svg):not(:has( > :not(svg))) {
  gap: .125rem;
}

.tiptap-button:has( > svg):not(:has( > :not(svg)))[data-size="large"] {
  gap: .125rem;
}

.tiptap-button:has( > svg):not(:has( > :not(svg)))[data-size="small"] {
  gap: .125rem;
}

.tiptap-button:has( > svg:nth-of-type(2)):has( > .tiptap-button-dropdown-small):not(:has( > svg:nth-of-type(3))):not(:has( > .tiptap-button-text)) {
  gap: 0;
  padding-right: .25rem;
}

.tiptap-button:has( > svg:nth-of-type(2)):has( > .tiptap-button-dropdown-small):not(:has( > svg:nth-of-type(3))):not(:has( > .tiptap-button-text))[data-size="large"] {
  padding-right: .375rem;
}

.tiptap-button:has( > svg:nth-of-type(2)):has( > .tiptap-button-dropdown-small):not(:has( > svg:nth-of-type(3))):not(:has( > .tiptap-button-text))[data-size="small"] {
  padding-right: .25rem;
}

.tiptap-button .tiptap-button-emoji {
  justify-content: center;
  width: 1rem;
  display: flex;
}

.tiptap-button[data-size="large"] .tiptap-button-emoji {
  width: 1.125rem;
}

.tiptap-button[data-size="small"] .tiptap-button-emoji {
  width: .875rem;
}

.tiptap-button {
  background-color: var(--tt-button-default-bg-color);
  color: var(--tt-button-default-text-color);
}

.tiptap-button .tiptap-button-icon {
  color: var(--tt-button-default-icon-color);
}

.tiptap-button .tiptap-button-icon-sub {
  color: var(--tt-button-default-icon-sub-color);
}

.tiptap-button .tiptap-button-dropdown-arrows, .tiptap-button .tiptap-button-dropdown-small {
  color: var(--tt-button-default-dropdown-arrows-color);
}

.tiptap-button:hover:not([data-active-item="true"]):not([disabled]), .tiptap-button[data-active-item="true"]:not([disabled]), .tiptap-button[data-highlighted]:not([disabled]):not([data-highlighted="false"]) {
  background-color: var(--tt-button-hover-bg-color);
  color: var(--tt-button-hover-text-color);
}

.tiptap-button:hover:not([data-active-item="true"]):not([disabled]) .tiptap-button-icon, .tiptap-button[data-active-item="true"]:not([disabled]) .tiptap-button-icon, .tiptap-button[data-highlighted]:not([disabled]):not([data-highlighted="false"]) .tiptap-button-icon {
  color: var(--tt-button-hover-icon-color);
}

.tiptap-button:hover:not([data-active-item="true"]):not([disabled]) .tiptap-button-icon-sub, .tiptap-button[data-active-item="true"]:not([disabled]) .tiptap-button-icon-sub, .tiptap-button[data-highlighted]:not([disabled]):not([data-highlighted="false"]) .tiptap-button-icon-sub {
  color: var(--tt-button-hover-icon-sub-color);
}

.tiptap-button:hover:not([data-active-item="true"]):not([disabled]) .tiptap-button-dropdown-arrows, .tiptap-button:hover:not([data-active-item="true"]):not([disabled]) .tiptap-button-dropdown-small, .tiptap-button[data-active-item="true"]:not([disabled]) .tiptap-button-dropdown-arrows, .tiptap-button[data-active-item="true"]:not([disabled]) .tiptap-button-dropdown-small, .tiptap-button[data-highlighted]:not([disabled]):not([data-highlighted="false"]) .tiptap-button-dropdown-arrows, .tiptap-button[data-highlighted]:not([disabled]):not([data-highlighted="false"]) .tiptap-button-dropdown-small {
  color: var(--tt-button-hover-dropdown-arrows-color);
}

.tiptap-button[data-active-state="on"]:not([disabled]), .tiptap-button[data-state="open"]:not([disabled]) {
  background-color: var(--tt-button-active-bg-color);
  color: var(--tt-button-active-text-color);
}

.tiptap-button[data-active-state="on"]:not([disabled]) .tiptap-button-icon, .tiptap-button[data-state="open"]:not([disabled]) .tiptap-button-icon {
  color: var(--tt-button-active-icon-color);
}

.tiptap-button[data-active-state="on"]:not([disabled]) .tiptap-button-icon-sub, .tiptap-button[data-state="open"]:not([disabled]) .tiptap-button-icon-sub {
  color: var(--tt-button-active-icon-sub-color);
}

.tiptap-button[data-active-state="on"]:not([disabled]) .tiptap-button-dropdown-arrows, .tiptap-button[data-active-state="on"]:not([disabled]) .tiptap-button-dropdown-small, .tiptap-button[data-state="open"]:not([disabled]) .tiptap-button-dropdown-arrows, .tiptap-button[data-state="open"]:not([disabled]) .tiptap-button-dropdown-small {
  color: var(--tt-button-active-dropdown-arrows-color);
}

.tiptap-button[data-active-state="on"]:not([disabled]):hover, .tiptap-button[data-state="open"]:not([disabled]):hover {
  background-color: var(--tt-button-active-hover-bg-color);
}

.tiptap-button[data-active-state="on"]:not([disabled])[data-appearance="emphasized"], .tiptap-button[data-state="open"]:not([disabled])[data-appearance="emphasized"] {
  background-color: var(--tt-button-active-bg-color-emphasized);
  color: var(--tt-button-active-text-color-emphasized);
}

.tiptap-button[data-active-state="on"]:not([disabled])[data-appearance="emphasized"] .tiptap-button-icon, .tiptap-button[data-state="open"]:not([disabled])[data-appearance="emphasized"] .tiptap-button-icon {
  color: var(--tt-button-active-icon-color-emphasized);
}

.tiptap-button[data-active-state="on"]:not([disabled])[data-appearance="emphasized"] .tiptap-button-icon-sub, .tiptap-button[data-state="open"]:not([disabled])[data-appearance="emphasized"] .tiptap-button-icon-sub {
  color: var(--tt-button-active-icon-sub-color-emphasized);
}

.tiptap-button[data-active-state="on"]:not([disabled])[data-appearance="emphasized"] .tiptap-button-dropdown-arrows, .tiptap-button[data-active-state="on"]:not([disabled])[data-appearance="emphasized"] .tiptap-button-dropdown-small, .tiptap-button[data-state="open"]:not([disabled])[data-appearance="emphasized"] .tiptap-button-dropdown-arrows, .tiptap-button[data-state="open"]:not([disabled])[data-appearance="emphasized"] .tiptap-button-dropdown-small {
  color: var(--tt-button-active-dropdown-arrows-color-emphasized);
}

.tiptap-button[data-active-state="on"]:not([disabled])[data-appearance="emphasized"]:hover, .tiptap-button[data-state="open"]:not([disabled])[data-appearance="emphasized"]:hover {
  background-color: var(--tt-button-active-hover-bg-color-emphasized);
}

.tiptap-button[data-active-state="on"]:not([disabled])[data-appearance="subdued"], .tiptap-button[data-state="open"]:not([disabled])[data-appearance="subdued"] {
  background-color: var(--tt-button-active-bg-color-subdued);
  color: var(--tt-button-active-text-color-subdued);
}

.tiptap-button[data-active-state="on"]:not([disabled])[data-appearance="subdued"] .tiptap-button-icon, .tiptap-button[data-state="open"]:not([disabled])[data-appearance="subdued"] .tiptap-button-icon {
  color: var(--tt-button-active-icon-color-subdued);
}

.tiptap-button[data-active-state="on"]:not([disabled])[data-appearance="subdued"] .tiptap-button-icon-sub, .tiptap-button[data-state="open"]:not([disabled])[data-appearance="subdued"] .tiptap-button-icon-sub {
  color: var(--tt-button-active-icon-sub-color-subdued);
}

.tiptap-button[data-active-state="on"]:not([disabled])[data-appearance="subdued"] .tiptap-button-dropdown-arrows, .tiptap-button[data-active-state="on"]:not([disabled])[data-appearance="subdued"] .tiptap-button-dropdown-small, .tiptap-button[data-state="open"]:not([disabled])[data-appearance="subdued"] .tiptap-button-dropdown-arrows, .tiptap-button[data-state="open"]:not([disabled])[data-appearance="subdued"] .tiptap-button-dropdown-small {
  color: var(--tt-button-active-dropdown-arrows-color-subdued);
}

.tiptap-button[data-active-state="on"]:not([disabled])[data-appearance="subdued"]:hover, .tiptap-button[data-state="open"]:not([disabled])[data-appearance="subdued"]:hover {
  background-color: var(--tt-button-active-hover-bg-color-subdued);
}

.tiptap-button[data-active-state="on"]:not([disabled])[data-appearance="subdued"]:hover .tiptap-button-icon, .tiptap-button[data-state="open"]:not([disabled])[data-appearance="subdued"]:hover .tiptap-button-icon {
  color: var(--tt-button-active-icon-color-subdued);
}

.tiptap-button:disabled {
  background-color: var(--tt-button-disabled-bg-color);
  color: var(--tt-button-disabled-text-color);
}

.tiptap-button:disabled .tiptap-button-icon {
  color: var(--tt-button-disabled-icon-color);
}

/*# sourceMappingURL=components_tiptap-ui-primitive_button_button_scss_css_e59ae46c._.single.css.map*/